@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dash-bg: rgb(17, 28, 45);
  --dash-color: rgb(124, 143, 172);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-custom-bg: var(--dash-bg);
  --color-custom-color: var(--dash-color);
}
@layer components {
  .recharts-bar-rectangle:hover {
    opacity: 1 !important; /* or fill: red !important; */
  }
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dash-color);
  border-radius: 10px;
  min-height: 10px;
}

::-webkit-scrollbar-track {
  display: none;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}
