@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  font-size: clamp(1.3rem, 2vw, 18px);
} */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --dash-bg: rgb(17, 28, 45);
  --dash-color: rgb(124, 143, 172);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-custom-bg: var(--dash-bg);
  --color-custom-color: var(--dash-color);
}
@layer components {
  .recharts-bar-rectangle:hover {
    opacity: 1 !important; /* or fill: red !important; */
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* font-size: clamp(1.3rem, 2vw, 18px); */
  font-family: Arial, Helvetica, sans-serif;
}

.fc-addEventButton-button {
  background-color: #3182ce; /* Chakra blue.500 */
  border-radius: 9999px;
  font-weight: 600;
  color: white;
  padding: 0 1rem;
}

.fc-addEventButton-button:hover {
  background-color: #2b6cb0; /* Chakra blue.600 */
}
